$theme-font : var(--vscode-editor-foldBackground);
$theme-font-family : var(--vscode-editor-font-family);
$theme-font-size : var(--vscode-editor-font-size);
$theme-font-weight : var(--vscode-editor-font-weight);
